{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>明日头条</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{% static "assets/css/bootstrap-responsive.css" %}" rel="stylesheet">


    <link rel="shortcut icon" href="{% static "assets/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png" %}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'base' %}">明日头条</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{% url 'base' %}">首页</a></li><!--href填空值返回本页面-->
              <li><a href="#about">关于</a></li>
              <li><a href="#contact">联系</a></li>
            </ul>
 
             <!--判断用户是否登陆-->
              {% if user.is_authenticated %}
           

            <form class="navbar-form pull-right" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <a href="{% url 'personal' %}"><strong>{{user.username}}</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                <button type="submit" class="btn btn-danger">退出</button>
            </form>
              
             {% else %}
            
                {% if errors %}
                    {% for error in errors %}
                   <!--登陆错误信息-->
                    <span class="label label-warning">{{error}}</span>
                   <!--#########   bug     ############-->           
                   {% endfor %}
                      {% endif %}
            
        <!--没有登陆重新登陆-->
            <form class="navbar-form pull-right" method="post" action="{% url 'login' %}">
               {% csrf_token %}

               <a class="btn btn-success" href="{% url 'login' %}">登录</a>
               <a class="btn btn-primary" href="{% url 'register' %}">注册</a>
            </form>
      
             {% endif %}
          </div><!--/.nav-collapse -->
        </div><!--/container-->
      </div>
    </div>

    

    <div class="container">

      <!-- Example row of columns -->
      
      {% if news_list %}
          {% for news  in news_list %} 
      <!--  新闻 1-->
      <div class="row">
        <div class="span10">
          <h2><a href="{% url 'showNews' news.id %}" target="_blank">{{ news.title }}</a></h2>
          <p>{{ news.time }}</p>
           <p>{{ news.abstract }}</p>
          <p><a class="btn" href="{{ news.newsUrl }}">了解更多 &raquo;</a></p>
          
           <table>    
            <tbody>
              <tr>
                <td><h4>浏览:({{news.browseNumber}})</h4></td>
                <td>&nbsp</td>
                <td><h4>点赞:({{news.likesNumber}})</h4></td>
                <td>&nbsp</td>
                <td><a href="{% url 'showNews' news.id %}"><h4>评论:({{news.commentNumber}})</h4></a></td>
              </tr>
            </tbody>
          </table>
        </div><!--span10-->
       
         


        {% if news.picUrl %}
        <div class="span2">
         <a href="#" class="thumbnail">
         <img src="{{ news.picUrl }}" alt="">
        </a>
       </div><!--span2--> 
       {% endif %}    
      </div><!--row-->
      <hr>
        {% endfor %}
      {% endif %}


     

      <footer>
        <p>&copy; <strong>0611cpp</strong></p>
      </footer>

    </div> <!-- /container -->

    <script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-button.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-typeahead.js" %}"></script>

  </body>
</html>

