<!DOCTYPE html>
<html>
<head>
	<title>App</title>
</head>
<body>
	<h1>WelCome to App</h1>  
	{% if user.is_authenticated %}
		<h3>{{user.username}}, 欢迎您(已登陆状态)</h3>
		<a href="{% url 'personal' %}">个人主页</a>
		<br/><hr/>
	{% else %}
		<h3>游客</h3>
	{% endif %}

	{% if news_list %}
		<ul>
		{% for news  in news_list %}     
			<li>[ {{news.newsType}} ]&nbsp<a href="{% url 'showNews' news.id %}" target="_blank">{{ news.newsTitle }}</a> &nbsp [浏览数] {{news.browseNumber}} &nbsp [评论数] &nbsp {{ news.commentNumber }}</li> &nbsp 
		{% endfor %}
		</ul>
	{% endif %}

	<!-- {% if technology %}
		<ul>
		{% for news  in technology %}     
			<li>[ {{news.newsType}} ]&nbsp<a href="{% url 'showNews' news.id %}" target="_blank">{{ news.newsTitle }}</a></li> &nbsp 
		{% endfor %}
		</ul>
	{% endif %}

	{% if entertainment %}
		<ul>
		{% for news  in entertainment %}     
			<li>[ {{news.newsType}} ]&nbsp<a href="{% url 'showNews' news.id %}" target="_blank">{{ news.newsTitle }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if society %}
		<ul>
		{% for news  in society %}     
			<li>[ {{news.newsType}} ]&nbsp<a href="{% url 'showNews' news.id %}" target="_blank">{{ news.newsTitle }}</a></li>
		{% endfor %}
		</ul>
	{% endif %} -->
	
	<!-- <form id="comment" method="post" action="">
		
	</form>
	<input type="submit" name="submit" value="我要评论" /> -->
	<br/>
	<br/>
	<br/>
	<br/>
	{% if user.is_authenticated %}
		<a href="{% url 'logout'  %}">注销</a><br/><br/>
		<a href="{% url 'register' %}">注册</a>
		
	{% else %}
		<a href="{% url 'login' %}">登陆</a><br/><br/>
		<a href="{% url 'register' %}">注册</a>
	{% endif %}

</body>
</html>