{% extends 'base.html' %}

    {% load staticfiles %}
 
 {% block body_block %}
 
             <!--判断用户是否登陆-->
              {% if user.is_authenticated %}
           

            <form class="navbar-form pull-right" method="post" action="{% url 'logout' %}">
              	{% csrf_token %}
               <a href="{% url 'personal' %}"><strong>{{user.username}}</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
              	<button type="submit" class="btn btn-danger">退出</button>
       			</form>
              {% endif %}
             
             

        <!--没有登陆重新登陆-->
				    <!--<form class="navbar-form pull-right" method="post" action="{% url 'login' %}">
					     {% csrf_token %}
  					   <input type="text" name="username" class="input-small" placeholder="用户名">
  					   <input type="password" name="password" class="input-small" placeholder="密码">
  					
  					   <button type="submit"  class="btn btn-success">登录</button>
  					
   						 <a class="btn btn-primary" href="{% url 'register' %}">注册</a>
				    </form>-->
			
          </div><!--/.nav-collapse -->
        </div><!--/container-->
      </div>
    </div>



<div class="container">

{% if user.is_authenticated %}
	


	<div class="hero-unit">


  <form class="form-horizontal" id="user_login" method="post" action="{% url 'modifyPassword' %}" >
{% csrf_token %}
  <fieldset>
    <legend>修改密码</legend>

    
    <div class="control-group" align="center">
     
      <div class="controls">
      <label class="control-label" for="input01" ><h4>原密码:</h4></label>
        <input type="text" class="input-xlarge" id="input01" name="old_password">
        
       
      </div>
    </div>

    <div class="control-group" align="center">
      
      <div class="controls">
      <label class="control-label" for="input02"><h4>新密码:</h4></label>
        <input type="password" class="input-xlarge" id="input01" name="passwrod1">
      
      </div>
    </div>
    <div class="control-group" align="center">
      
      <div class="controls">
      <label class="control-label" for="input03"><h4>确认新密码:</h4></label>
        <input type="password" class="input-xlarge" id="input01" name="passwrod2">
      
      </div>
    </div>

      <div class="control-group" align="center"> 
          <button type="submit"  class="btn btn-success">确认</button>
          
      </div>

      {% if res %}
        <div class="alert alert-info" style="text-align:center">
          <h3>密码修改成功!</h3>
          <p>
      <a href= "{% url 'index' %}" class="btn btn-primary btn-large">返回首页</a>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href= "{% url 'login' %}" class="btn btn-success btn-large">重新登录</a>
      </p>
          
       {% endif %} 

       {% if errors %}
       <div class="alert alert-error">
        <strong>{{errors}}</strong>
      </div>
      {% endif %}

      {% else %}
      <div class="hero-unit">
      <h1>很遗憾</h1>
      <p>您没有登录</p>
      <p>
      <a href= "{% url 'register' %}" class="btn btn-primary btn-large">注册</a>
      <a href= "{% url 'login' %}" class="btn btn-success btn-large">登录</a>
      </p>
      </div>
      {% endif %}  
       
      

      </fieldset>
      </form>
</div><!--hero-->

    <footer>
        <p>&copy; <strong>0611cpp</strong></p>
      </footer>

    </div> <!-- /container -->
 


 {% endblock %}