<!DOCTYPE html>
<html>
<head>
	<title>修改密码</title>
	<form id="modify" method="post" action="{% url 'modifyPassword' %}" >
		{% csrf_token %}
		原 密 码：<input type="password" name="old_password"  size="30" /><br>
		新 密 码：<input type="password" name="passwrod1"  size="30" /><br>
		确认密码：<input type="password" name="passwrod2"  size="30" /><br>
		<input type="submit" value="确认" />
	</form>
	{% if errors %}
		<strong>{{errors}}</strong>
	{% endif %}
	{% if res %}
		<strong>密码修改成功！</strong>
	{% endif %}
	<a href="/app">回到首页</a>
</head>
<body>

</body>
</html>