{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>明日头条</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{% static "assets/css/bootstrap-responsive.css" %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% static "assets/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png" %}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'base' %}">明日头条</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{% url 'base' %}">首页</a></li><!--href填空值返回本页面-->
              <li><a href="#about">关于</a></li>
              <li><a href="#contact">联系</a></li>
            </ul>
 
             <!--判断用户是否登陆-->
              {% if user.is_authenticated %}
           

            <form class="navbar-form pull-right" method="post" action="{% url 'logout' %}">
              	{% csrf_token %}
                <a href="{% url 'personal' %}"><strong>{{user.username}}</strong></a>
              	<button type="submit" class="btn btn-danger">退出</button>
       			</form>
              {% endif %}
             
             

        <!--没有登陆重新登陆-->
				    <!--<form class="navbar-form pull-right" method="post" action="{% url 'login' %}">
					     {% csrf_token %}
  					   <input type="text" name="username" class="input-small" placeholder="用户名">
  					   <input type="password" name="password" class="input-small" placeholder="密码">
  					
  					   <button type="submit"  class="btn btn-success">登录</button>
  					
   						 <a class="btn btn-primary" href="{% url 'register' %}">注册</a>
				    </form>-->
			
          </div><!--/.nav-collapse -->
        </div><!--/container-->
      </div>
    </div>



<div class="container">

{% if user.is_authenticated %}
	<!--<div class="hero-unit">
  		<h3>{{user.username}}, 欢迎您</h3>
		<a class="brand" href="{% url 'personal' %}"><h4>个人主页</h4></a>
  		<p>
   		 <a class="btn btn-primary btn-large" href="{% url 'base' %}">
      			返回首页
   		 </a>
  		</p>
	</div>
  -->


	<div class="hero-unit">
  <form class="form-horizontal" id="user_login" method="post" action="{% url 'modifyPassword' %}" >
{% csrf_token %}
  <fieldset>
    <legend>修改密码</legend>
    <div class="control-group" align="center">
     
      <div class="controls">
      <label class="control-label" for="input01" ><h4>原密码:</h4></label>
        <input type="text" class="input-xlarge" id="input01" name="old_password">
        
       
      </div>
    </div>
    <div class="control-group" align="center">
      
      <div class="controls">
      <label class="control-label" for="input02"><h4>新密码:</h4></label>
        <input type="password" class="input-xlarge" id="input01" name="passwrod1">
      
      </div>
    </div>
    <div class="control-group" align="center">
      
      <div class="controls">
      <label class="control-label" for="input03"><h4>确认新密码:</h4></label>
        <input type="password" class="input-xlarge" id="input01" name="passwrod2">
      
      </div>
    </div>

      <div class="control-group" align="center"> 
          <button type="submit"  class="btn btn-success">确认</button>
          
      </div>

      {% if res %}
        <div class="alert alert-info">
          <h3>密码修改成功!</h3>
          <p>
      <a href= "{% url 'base' %}" class="btn btn-primary btn-large">返回首页</a>
      <a href= "{% url 'login' %}" class="btn btn-success btn-large">重新登录</a>
      </p>
          
       {% endif %} 

       {% if errors %}
       <div class="alert alert-error">
        <strong>{{errors}}</strong>
      </div>
      {% endif %}

      {% else %}
      <div class="hero-unit">
      <h1>很遗憾</h1>
      <p>您没有登录</p>
      <p>
      <a href= "{% url 'register' %}" class="btn btn-primary btn-large">注册</a>
      <a href= "{% url 'login' %}" class="btn btn-success btn-large">登录</a>
      </p>
      </div>
      {% endif %}  
       
      

      </fieldset>
      </form>
</div><!--hero-->

    <footer>
        <p>&copy; <strong>0611cpp</strong></p>
      </footer>

    </div> <!-- /container -->
 


 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-button.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-typeahead.js" %}"></script>

  </body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
	<title>修改密码</title>
	<form id="modify" method="post" action="{% url 'modifyPassword' %}" >
		{% csrf_token %}
		原 密 码：<input type="password" name="old_password"  size="30" /><br>
		新 密 码：<input type="password" name="passwrod1"  size="30" /><br>
		确认密码：<input type="password" name="passwrod2"  size="30" /><br>
		<input type="submit" value="确认" />
	</form>
	{% if errors %}
		<strong>{{errors}}</strong>
	{% endif %}
	{% if res %}
		<strong>密码修改成功！</strong>
	{% endif %}
	<a href="/app">回到首页</a>
</head>
<body>

</body>
</html> -->