{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>明日头条</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{% static "assets/css/bootstrap-responsive.css" %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{% static "assets/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "assets/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "assets/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "assets/ico/apple-touch-icon-57-precomposed.png" %}">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url 'base' %}">明日头条</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{% url 'base' %}">首页</a></li>
              <li><a href="#about">关于</a></li>
              <li><a href="#contact">联系</a></li>
            </ul>
 
             <!--判断用户是否登陆-->
              {% if user.is_authenticated %}
           

            <form class="navbar-form pull-right" method="post" action="{% url 'logout' %}">
              	{% csrf_token %}
               <a href="{% url 'personal' %}"><strong>{{user.username}}</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
              	<button type="submit" class="btn btn-danger">退出</button>
       			</form>
              
              {% else %}
			      
            {% if errors %}
              {% for error in errors %}
                <!--登陆错误信息-->
                <span class="label label-warning">{{error}}</span>
                <!--#########   bug     ############           -->
             {% endfor %}
            {% endif %}

        <!--没有登陆重新登陆-->
				    <form class="navbar-form pull-right" method="post" action="{% url 'login' %}">
					     {% csrf_token %}
  					   
  					
  					   <a class="btn btn-success" href="{% url 'login' %}">登录</a>
               <a class="btn btn-primary" href="{% url 'register' %}">注册</a>
				    </form>
			
			       {% endif %}
          </div><!--/.nav-collapse -->


        </div><!--/container-->

      </div>
    </div>




  <div class="container">
    <div class="row">
    <div class="span8">
      <div class="hero-unit">
        <h2 ><font color="purple">{{ news.newsTitle }}</font></h2> 
        <p>{{ news.newsTime }}</p>
        <p> <font size="4">
          <pre word-wrap: break-word>{{ news.newsContent }}</pre></font>
        </p>
      </div>
      </div><!--span9-->
       {% if picture %}
      <div class="span4">
         <a href="#" class="thumbnail">
         <!-- <img src="{% static "images/jay.jpg" %}" alt="test"> -->
         
    {% for img in picture %}
      <img src="{{img.picture}}"><br/>
    {% endfor %}
  
        </a>
       </div><!--span3 -->
{% endif %}
      </div><!--row-->
      
      <hr>

    {% if comment %}   
      <div class="table-responsive">
   <table class="table table-striped table-bordered table-hover">
      <caption><h2><strong>网友评论：</strong>  </h2></caption>
      <thead>
         <tr>
            <th>用户</th>
            <th>时间</th>
            <th>评论</th>
         </tr>
      </thead>
      <tbody>
      {% for com in comment %}
         <tr>
            <td>{{ com.username }}</td>
            <td>{{com.content_time}}</td>
            <td>{{com.content}}</td>
         </tr>
       {% endfor %}  
      </tbody>
   </table>
</div>
 {% endif %}   

<hr>
  
  {% if user.is_authenticated %}

<form role="form" id="comment" method="post" action="{% url 'comment' user.id news.id%}">
{% csrf_token %}
  <div class="form-group">
    <label for="name">添加评论</label>
    <textarea class="form-control" rows="8" cols="100"  name="content"></textarea><br/>
    <button type="submit"  class="btn btn-success">提交</button>
  </div>
</form>

{% else %}
<a class="btn btn-primary" href="{% url 'login' %}">登陆后才能评论呦！！！～～～</a>
  {% endif %}




    <footer>
        <p>&copy; <strong>0611cpp</strong></p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "assets/js/jquery.js" %}"></script>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-transition.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-alert.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-modal.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-dropdown.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-scrollspy.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-tab.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-tooltip.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-popover.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-button.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-collapse.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-carousel.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-typeahead.js" %}"></script>

  </body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
	<title>News</title>
	<style type="text/css">
		pre{
			font-size: 18px;
			white-space: pre-wrap;       
			white-space: -moz-pre-wrap;  
			white-space: -pre-wrap;      
			white-space: -o-pre-wrap;    
			word-wrap: break-word;       
		}
	</style>
</head>
<body>
	<a name='pageHead'></a>
	<h1>{{ news.newsTitle }}</h1> <a href="{% url 'index' %}">返回首页</a>
	<br/>
	<br/>
	<pre word-wrap: break-word>{{ news.newsContent }}</pre>

	<br/><br/>
	{% if picture %}
		{% for img in picture %}
			<img src="{{img.picture}}"><br/>
		{% endfor %}
	{% endif %}
	<br/><br/>
	<strong>网友评论：</strong><br/><br><hr/>
	{% if comment %}
		{% for com in comment %}
			<strong>{{ com.username }}: </strong>
			{{com.content}}<br/>
			<font size="1">评论时间: <br/>{{com.content_time}}</font> <br/><br/><hr>
		{% endfor %}
	{% endif %}
	<br/><br/>
	<strong>我要评论： </strong><br/>
	{% if user.is_authenticated %}
		<form id="comment" method="post" action="{% url 'comment' user.id news.id%}">
			{% csrf_token %}
			<textarea  rows="8" cols="40" name="content"></textarea><br/>
			<input type="submit" name='submit' value="提交" />
		</form>
	{% else %}
		<textarea  rows="8" cols="40" name="content"></textarea><br/>
		<a href="{% url 'login' %}"><img src="/static/images/login.png"  width="45px" height="27px"></a>
	{% endif %}
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<a href="#pageHead">回到页首</a>
</body>
</html> -->